<section class="about section" id="about">
  <div class="section-inner">
    <h2 class="heading">About Me</h2>
    <div class="content">
      <h3>TL;DR</h3>
      <p>
        Experienced in designing and building scalable and optimized Infrastructure, CI/CD, Monitoring, Logging and other solutions on top of AWS.
        Keen on learning new technology.
        Get hyped really fast on new awesome technology or solving task that seems unsolveable :)
      </p>

      <p>
        In short i love building highly scaleable and tolerant stuff on AWS, some of the things i've build include:
        <ul>
          <li>Fully-automated AWS Resources using CloudFormation</li>
          <li>Applications running in ECS with custom Ansible scripts in combination of ECS blue/green deployment used to deploy Rails applications</li>
          <li>CI/CD running in combination with Jenkins, AWS CodeBuild, AWS Pipeline and many more</li>
          <li>AWS CloudWatch monitoring in combination with AWS Lambda to run custom scripts based on Alarms</li>
        </ul>
      </p>

      <h3>Full Version</h3>
      <p>
        I have started my DevOps journey 4 years ago starting with Supporting and Programming existing and new Ruby on Rails applications for a finance company called Inbank AS.
        With the companys rapid growth there was a need to design, implement and run various Production setups, CI/CD Pipelines, Monitoring and Logging solutions.
        I proudly took the responsibility and started diving deep into AWS Documentation on different services and their best practices.
      </p>
      <button type='button' class='btn btn-cta-primary' data-toggle='collapse' data-target='#more'>Read more</button>
      <div id='more' class='collapse'>
        </br>
        <p>
          Having ability to learn very fast i've managed to design and build Infrastructure on AWS according to their best practices.
          To accompany our infrastructure needs i've also built various other components such as CI/CD on Jenkins, Monitoring with Icinga2, Logging with Graylog2 and a lot of other neat stuff.
          During that time i've also been part of Support team, writing bunch of fixes and new features for a Backend applications running on RoR.
        </p>
        <p>
          Everyday i gained more and more experience and kept refactoring/upgrading our Infrastructure/Development solutions to keep up with latest trends and best solutions.
          As a result our Infrastructure moved from built-by-hand fragile EC2 machines to AWS Environment/Resources that can be deleted and recreated in any moment thanks to versioned AWS CloudFormation templates.
          Few of the current solutions i've built include:
            * Fully-automated AWS Resources using CloudFormation
            * Applications running in ECS with custom Ansible scripts in combination of ECS blue/green deployment used to deploy Rails applications
            * CI/CD running in combination with Jenkins, AWS CodeBuild, AWS Pipeline and many more
            * AWS CloudWatch monitoring in combination with AWS Lambda to run custom scripts based on Alarms
        </p>
        <p>
          In the beginning of 2017 i opened my own company ( AI Solutions ) to provide AWS consultancy to design and build cheap and scalable infrastructure running on AWS.
          During the year i learned multiple additional programming languages to sharpen my skills such as Elixir and Go.
          In the end of 2017 i've had a chance to participate in AWS Re:Invent where i gained tons of new information regarding new/existing AWS Services and their best practices.
          I've also managed to get an AWS Solutions Architect Associate Certificate on the same conference/event :)
        </p>
        <p>
          As of now i'm still working at Inbank AS to help it grow/scale and make it better.
          Even though my current title is Head of Infrastructure i still design and build all the Infrastructure on daily basis aka do the pure DevOps stuff :)
        </p>
        <p>
          Based on above short description of my journey you probably realised that i like to learn new technology and keep up-to-date with latest trends in order to optimize costs of running Infrastructure, making it easily scalable and recreatable and making developers life easier by implementing various CI/CD and local development setups.
          I would love to work in environment/company where i can put my skills to best use by using latest tools to make sure company has proper Infrastructure, CI/CD, Logging, Monitoring, Security as well as optimized Applications/Databases to scale easily and provide breathtaking performance.
        </p>
      </div>
    </div>
  </div>
</section>

