<section class="about section" id="about">
  <div class="section-inner">
    <h2 class="heading">About Me</h2>
    <div class="content">
      <h3>TL;DR</h3>
      <p>I love programming and having to solve new challenges. I have
      previously worked in all kind of fields and ended up in programming,
      which turned out to be my true passion. I absolutely love learning new
      tools, languages, solving all kind of problems and making everything
      blazing fast and automated.</p>

      <h3>Full Version</h3>
      <p>When i started studying in Estonian Information Technology College
      i wasn't sure where should i end up or continue and i was seeking
      for my true passion.</p>
      <p>Soon i ended up learning Ruby on Rails basics and started working
      at a small company called Deskrock which had a small
      team ( 3-5 developers ) but which provided very powerful Finance software
      for different Loan providers in Estonia.</p>
      <button type='button' class='btn btn-cta-primary' data-toggle='collapse' data-target='#more'>Read more</button>
      <div id='more' class='collapse'>
        </br>
        <p>
          I started as a DevOps Engineer and my role was to manage Support and Server
          Infrastructure in the Company. Very quickly i ended up sharpening my RoR,
          Ruby skills in order to debug every error/problem reported from customer and fix
          them myself. I found myself having passion in resolving all kind of problems and
          making things faster, therefore i ended up getting new skills very quickly and
          refacted some of the critical Apps parts in order to make them much faster and
          bug-free. Company started to grow, so i quickly gained more responsibilities, i
          started to build our infrastructure in AWS by learning all kind of different
          tools and putting the to best use ( AWS EC2, AWS RDS, Ansible, HAProxy etc. ).
        </p>
        <p>
          In 2015 our Finance and IT companies merged and gained Banking License.
          Company has changed name to InBank AS.
          As of now i'm working at InBank as a Software Developer (Full-Stack).
          Currently i do development both in Backend as well as Frontend projects and some Ops
          in order to keep our Servers up-to-date.
        </p>
      </div>
    </div>
  </div>
</section>

