<aside id="books" class="books aside section">
  <div class="section-inner">
    <h2 class="heading">2016 Reading list</h2>
    <div class="content">

      <div>
        <button type='button' class='btn btn-cta-primary' data-toggle='collapse' data-target='#book1'>Ruby Performance Optimization</button>
        <div id='book1' class='collapse'>
          <h5>
            Author: Alexander Dymo
          </h5>
          <p>
            If you have ever came into some piece of code in Application where you just
            had no idea how to make it faster and better, then read this book.
            This book really shows you what software to use in order to optimize something
            efficiently and how to find slowest parts of your code.
          </p>
          <a class="achievement-link" target="_blank" href="https://pragprog.com/book/adrpo/ruby-performance-optimization"><i class="fa fa-code"></i> Get the Book</a>
        </div>
      </div>


      <div>
        <button type='button' class='btn btn-cta-primary' data-toggle='collapse' data-target='#book2'>POODR</button>
        <div id='book2' class='collapse'>
          <h5>
            Author: Sandi Metz
          </h5>
          <p>
            This is the best book that explains in easy-language how Object-Oriented
            Design works. If you ever came into an old project that is pure hell to update
            and manage, and you don't want to end to up with your project same way in couple
            of years, then definitely read this book.
          </p>
          <a class="achievement-link" target="_blank" href="http://www.poodr.com/"><i class="fa fa-code"></i> Get the Book</a>
        </div>
      </div>

    </div>
  </div>
</aside>

