<aside class="education aside section">
  <div class="section-inner">
    <h2 class="heading">Education</h2>
    <div class="content">
      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> Network and System Administration/Administrator</h3>
        <h4 class="university">Estonian Information Technology College <span class="year">(2012-2017)</span></h4>
      </div>
      <div class="item">
        <h3 class="title"><i class="fa fa-graduation-cap"></i> High School</h3>
        <h4 class="university">Kohtla-Jarve Gymnasium <span class="year">(2008-2011)</span></h4>
      </div>
    </div>
  </div>
</aside>


