<section class="experience section" id="experience">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">
      <div class="item">
        <h2 class="title">DevOps Engineer - <span class="place"><a class="btn btn-cta-inbank" target="_blank" href="https://www.inbank.ee">InBank AS</a></span> <span class="year">(2014 - Present)</span></h2>
        <h5>Applications</h5>
        <ul>
          <li>Developing new features for Ruby, Ruby on Rails applications.</li>
          <li>Optimising / Refactoring features in order to make them more efficient.</li>
          <li>Keeping applications up-to-date, secure, fixing bugs and writing migrations in order to fix corrupted data.</li>
          <li>Making deployments easy, automated and downtime-free.</li>
        </ul>
        <h5>Servers</h5>
        <ul>
          <li>Server setup in AWS Infrastructure using Ansible. ( Private networks, loadbalancers).</li>
          <li>Monitoring setup ( Icinga ).</li>
          <li>Keeping infrastructure up-to-date and secure.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

