<section class="experience section" id="experience">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">
      <div class="item">
        <h2 class="title">DevOps Engineer - <span class="place"><a class="btn btn-cta-inbank" target="_blank" href="https://www.inbank.ee">InBank AS</a></span> <span class="year">(2014 - Present)</span></h2>
        <h5>Applications</h5>
        <ul>
          <li>Supporting Ruby, Ruby on Rails, JavaScript applications, developing new features.</li>
          <li>Optimising applications.</li>
          <li>Keeping applications up-to-date and secure, fixing bugs and writing migrations for modifying data.</li>
          <li> Making deployments easy, automated and zero-downtime.</li>
        </ul>
        <h5>Servers</h5>
        <ul>
          <li>Server setup in AWS Infrastructure using Ansible / Chef. ( Private networks, loadbalancers)</li>
          <li>Monitoring setup ( Icinga )</li>
          <li>Logging setup</li>
        </ul>
      </div>
    </div>
  </div>
</section>

