<section class="experience section" id="experience">
  <div class="section-inner">
    <h2 class="heading">Work Experience</h2>
    <div class="content">
      <div class="item">
        <h2 class="title">Owner - <span class="place">AI Solutions</span> <span class="year">(2017 - Present)</span></h2>
        <h5>Servers</h5>
        <ul>
          <li>AWS Infrastructure design and setup using CloudFormation to provide version-controlled and recoverable resources</li>
          <li>CI/CD Built with combination of AWS CodePipeline, AWS CodeBuild, Jenkins, Docker</li>
          <li>Running application on ECS with comibation of AWS CloudWatch and AutoScaling to provide cost-optimized scalable resources</li>
          <li>Monitoring with AWS CloudFormation and Lambda</li>
          <li>Developing custom Ansible playbooks, Jenkinsfiles and other tools for custom usages such as automated database backup and verification</li>
          <li>Developing CI/CD scripts in combination with CloudFormation templates to allow fast and automated creation of new environments</li>
        </ul>
      </div>
      <div class="item">
        <h2 class="title">Head of Infrastructure / DevOps - <span class="place"><a class="btn btn-cta-inbank" target="_blank" href="https://www.inbank.ee">InBank AS</a></span> <span class="year">(2014 - Present)</span></h2>
        <h5>Servers</h5>
        <ul>
          <li>AWS Infrastructure design and setup using CloudFormation to provide version-controlled and recoverable resources</li>
          <li>CI/CD Built with combination of AWS CodePipeline, AWS CodeBuild, Jenkins, Docker</li>
          <li>Running application on ECS with comibation of AWS CloudWatch and AutoScaling to provide cost-optimized scalable resources</li>
          <li>Monitoring with AWS CloudFormation and Lambda</li>
          <li>Logging solution with ES + Graylog2</li>
          <li>Developing custom Ansible playbooks, Jenkinsfiles and other tools for custom usages such as automated database backup and verification</li>
        </ul>
        <h5>Applications</h5>
        <ul>
          <li>Optimising / Refactoring code in order to make them more efficient.</li>
          <li>Keeping applications up-to-date, secure, fixing bugs and writing migrations in order to fix corrupted data.</li>
          <li>Making sure applications run flawlessly on Docker</li>
        </ul>
      </div>
    </div>
  </div>
</section>

