<nav class="navbar navbar-default navbar-fixed-top header">
  <div class="container">
    <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navcollapse1">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="navcollapse1">
      <div class="profile-content pull-left">
        <a class="navbar-brand hidden-sm-down" href="#page-top"><h1 class="name">Andres Ivanov</h1></a>
        <h2 class="desc hidden-sm-down">DevOps / Software Developer</h2>
        <ul class="social list-inline" id="hideme">
          <li class="list-inline-item"><a target="_blank" href="https://ee.linkedin.com/in/andres-ivanov-a927b9b3"><i class="fa fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="https://github.com/midN"><i class="fa fa-github-alt"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="https://twitter.com/m1dN"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div id="navbar-scroll">
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="#page-top">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#github">GitHub</a>
          </li>
          <li class="nav-item">
            <a id="info-link" class="nav-link" href="#info">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

