<aside id="info" class="info aside section">
  <div class="section-inner" id="info-response">
  </div>
  <div class="section-inner">
    <h2 class="heading">Contact Information</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Tallinn, Estonia</li>
        <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span>web@andres.wtf</li>
        <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="https://andres.wtf">https://andres.wtf</a></li>
      </ul>
    </div>
  </div>
</aside>

