<aside class="list music aside section">
  <div class="section-inner">
    <h2 class="heading">Favourite coding, gym music</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li><i class="fa fa-headphones"></i> <a href="https://www.youtube.com/watch?v=Lo2qQmj0_h4">AC/DC - You Shook Me All Night Long</a></li>
        <li><i class="fa fa-headphones"></i> <a href="https://www.youtube.com/watch?v=ZiPOywK2O5o">Manowar - Die for Metal</a></li>
        <li><i class="fa fa-headphones"></i> <a href="https://www.youtube.com/watch?v=YV4oYkIeGJc">Disturbed - Land of Confusion</a></li>
        <li><i class="fa fa-headphones"></i> <a href="https://www.youtube.com/watch?v=f4MRmEPNUxY">Inner Circle - Bad Boys</a></li>
      </ul>
    </div>
  </div>
</aside>

