<section class="projects section" id="projects">
  <div class="section-inner">
    <h2 class="heading">Projects i have worked on</h2>
    <div class="content">
      <div class="item">
        <h3>Lendify <span class="label label-theme">Private</span></h3>
        <p class="summary">This was our main RoR Application.</p>
        <p class="summary">
          It's a backend for Finance companies,
          mainly for Banking and Loan providing purposes.
          Application is currently built to manage Hire Purchase, Loans and
          Deposits by having different built-in modules.
        </p>
        <p class="summary">
          My role was to setup Server
          infrastructure which would be best to run this Application. Our small team is
          trying to follow Object-Oriented design as much as possible in order to keep
          this Application easily upgradeable.
          Application is being used by such companies as InBank AS and Krediidipank
          Finants AS
        </p>
      </div>
      <div class="item">
        <h3>CCS <span class="label label-theme">Private</span></h3>
        <p class="summary">
          Similiar to Lendify this is older Project that also offers Loans as well
          as Credit Cards for Coop Finants. Main backend is written in RoR which is also
          connected to Java-Oracle based backend used for card purchases in shops.
        </p>
        <p class="summary">
          My role was to provide ongoing Support for possible Bugs and Data fixes as well
          as constantly developing new features.
        </p>
      </div>

      <div class="item">
        <h3>Frontend Projects <span class="label label-theme">Private</span></h3>
        <p class="summary">
          Both of previously mentioned Projects had also
          different Frontend's as well as smaller gems-services which i also had chance
          to develop, debug and refactor.
        </p>
      </div>

      <div class="item">
        <h3>Debtify / Gmailer <span class="label label-theme">Public</span></h3>
        <p class="summary">
          Project, which we did for a 2016 Hack.summit() Hackathon.
          We initially had 48hours to build a project in a small team of 4 and it was our first ever Hackathon attended.
          Project idea is to have an Bill management App, where you could either manually add your
          Bill or you add Plugins to fetch PDF files, E-Invoices from anywhere. Idea of this
          app was to be as much Modular as possible, having an easy shared-interface to add
          any new plugin to either Fetch new Bills or some 3rd Party Notification plugin.
        </p>
        <p class="summary">
          Since we had only short time to build it, only Plugin we managed to finish is called
          Gmailer. Gmailer is a plugin for Debtify, which is basically an Gmail email fetcher
          in which you need to specify some attributes to look for and plugin will try to find
          specific Emails from your inbox containing Invoice PDFs, parse them and add to Debtify.
        </p>
        <p><a class="more-link" href="https://github.com/inoobs/debtify" target="_blank"><i class="fa fa-external-link"></i> Debtify </a></p>
        <p><a class="more-link" href="https://github.com/inoobs/gmailer" target="_blank"><i class="fa fa-external-link"></i> Gmailer </a></p>
      </div>

      <div class="item">
        <h3>Single page HTML websites <span class="label label-theme2">Public</span></h3>
        <p class="summary">
          I did some simple single page HTML websites for
          my friends. Whole point of doing this was to sharpen some of my CSS, HTML skills.
          To build this websites i used only pure and default Bootstrap 3-4, i did not do any design.
        </p>
        <p>Some of the websites:</p>
        <p><a class="more-link" href="https://andres.wtf" target="_blank"><i class="fa fa-external-link"></i> AWTF</a></p>
        <p><a class="more-link" href="http://ex-paris.com" target="_blank"><i class="fa fa-external-link"></i> Ex-Paris</a></p>
        <p><a class="more-link" href="http://vestp.eu" target="_blank"><i class="fa fa-external-link"></i> VestP</a></p>
      </div>

    </div>
  </div>
</section>


