<section class="projects section" id="projects">
  <div class="section-inner">
    <h2 class="heading">Opensource tools/projects</h2>
    <div class="content">
      <div class="item">
        <h3>AWTF <span class="label label-theme">Public</span></h3>
        <p><a class="more-link" href="https://github.com/midN/awtf" target="_blank"><i class="fa fa-external-link"></i> AWTF </a></p>
        <p class="summary">
          Wrapper for aws cli written in Go.
          I found some aws cli commands too explicit or long to type,
          such as querying ec2 instances with list of custom columns transfored into tables
          or creating/updating cloudformation with lots of parameters, therefore
          i decided to create my own small wrapper for such cases.
        </p>
      </div>

      <div class="item">
        <h3>jira-cloud-backuper <span class="label label-theme">Public</span></h3>
        <p><a class="more-link" href="https://github.com/midN/jira-cloud-backuper" target="_blank"><i class="fa fa-external-link"></i> AWTF </a></p>
        <p class="summary">
          Small tool written in Go to backup, download and upload to S3 JIRA Cloud
          and Confluence.
        </p>
      </div>
    </div>
  </div>
</section>


