<aside class="skills aside section">
  <div class="section-inner">
    <h2 class="heading">Skills</h2>
    <div class="content">
      <p class="intro">
        List of my main skills i'm focused on
      </p>

      <div class="skillset">

        <div class="item">
          <h3 class="level-title">AWS Resources<span class="level-label">Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="100%">
            </div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">Ruby<span class="level-label">Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">Ruby on Rails<span class="level-label">Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">PostgreSQL<span class="level-label">Pro</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="80%">
            </div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">Jenkins<span class="level-label">Advanced</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="70%">
            </div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">Ansible<span class="level-label">Advanced</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="70%">
            </div>
          </div>
        </div>

        <p><a class="more-link" target="_blank" href="https://ee.linkedin.com/in/andres-ivanov-a927b9b3"><i class="fa fa-external-link"></i> More on LinkedIn</a></p>
      </div>
    </div>
  </div>
</aside>

